*.pyc
*.fits
catalogs
hydra_targets
hydra_data
mmthecto
imacs
imacs_maskgen
imacs_targets
imacs_data
keck_data
.DS_Store
*.pdf
*.png
.ipynb_checkpoints

masterlist/*.csv
masterlist/*.dat
masterlist/*.tab

parsetab.py
